In [ ]:
import pandas as pd

raw = pd.read_csv('../data/raw/train.csv')
df = pd.read_csv('../data/preprocessed/noise2mask.csv')

# '*'/len ratio in text columns
df['noise_ratio'] = df['text'].str.count('\*') / df['text'].str.len()

# sort by noise ratio
df.sort_values(by='noise_ratio', ascending=True, inplace=True)
df_filtered = df.iloc[:1120].copy()
df_remaining = df.iloc[1120:].copy()

goldenid = df_filtered['ID'].to_list()
remainingid = df_remaining['ID'].to_list()


golden_data = raw[raw['ID'].isin(goldenid)].copy()
remaining_data = raw[raw['ID'].isin(remainingid)].copy()

golden_data.to_csv('../data/preprocessed/golden.csv', index=False)
remaining_data.to_csv('../data/preprocessed/remaining.csv', index=False)

                       ID                               text  target
0     ynat-v1_train_00000   정i :파1 미사z KT( 이용기간 2e 단] Q분종U2보       4
1     ynat-v1_train_00001        K찰.국DLwo 로L3한N% 회장 2 T0&}송=       3
2     ynat-v1_train_00002             m 김정) 자주통일 새,?r열1나가야1보       2
4     ynat-v1_train_00004       pI美대선I앞두고 R2fr단 발] $비해 감시 강화       6
6     ynat-v1_train_00006              프로야구~롯TKIAs광주 경기 y천취소       1
...                   ...                                ...     ...
2788  ynat-v1_train_02788                 남원소식 춘>X학%단+장Rn 모집       0
2789  ynat-v1_train_02789        이총리,세4. H직 완fl지 못해E할 일 꽤;남아       2
2790  ynat-v1_train_02790  프로농구 개막 ③ 헤인즈의 1만점·양동근의 900스틸…...       3
2792  ynat-v1_train_02792        높`X#E율…}BO Q"[/선수 몸값 상승 CAO       1
2797  ynat-v1_train_02797   텔레그램+한D 등h亞서 2시간H다운…C버T정gf39종!2보       4

[1680 rows x 3 columns]

In [111]:
import pandas as pd

df = pd.read_csv('../data/preprocessed/noise2mask.csv')
df

                       ID                               text  target
0     ynat-v1_train_00000   정* *파* 미사* *** 이용기간 ** 단* *분종**보       4
1     ynat-v1_train_00001        *찰*국**** 로**한** 회장 * ****송*       3
2     ynat-v1_train_00002             * 김정* 자주통일 새***열*나가야*보       2
3     ynat-v1_train_00003      갤노트* 주말 **만대 개통*시장은 불법 보조금 얼룩       5
4     ynat-v1_train_00004       ***대선*앞두고 ****단 발* *비해 감시 강화       6
...                   ...                                ...     ...
2795  ynat-v1_train_02795  트럼프 폭스뉴스 앵커들 충성도 점수매겨***점만점에 **점도       6
2796  ynat-v1_train_02796        삼성 갤럭시** 정식 출시 첫 주말 이통시장 잠잠       2
2797  ynat-v1_train_02797   텔레그램*한* 등**서 *시간*다운**버*정****종**보       4
2798  ynat-v1_train_02798    인터뷰 류현진 친구에게 안타 맞는 것 싫어해*승부는 냉정       1
2799  ynat-v1_train_02799               지능정보사회 대비 국가 종합대책 마련       4

[2800 rows x 3 columns]

In [112]:
# '*'/len ratio in text columns
df['noise_ratio'] = df['text'].str.count('\*') / df['text'].str.len()
df

,ID,text,target,noise_ratio
0,ynat-v1_train_00000,정* *파* 미사* *** 이용기간 ** 단* *분종**보,4,0.406250
1,ynat-v1_train_00001,*찰*국**** 로**한** 회장 * ****송*,3,0.592593
2,ynat-v1_train_00002,* 김정* 자주통일 새***열*나가야*보,2,0.318182
3,ynat-v1_train_00003,갤노트* 주말 **만대 개통*시장은 불법 보조금 얼룩,5,0.137931
4,ynat-v1_train_00004,***대선*앞두고 ****단 발* *비해 감시 강화,6,0.357143
...,...,...,...,...
2795,ynat-v1_train_02795,트럼프 폭스뉴스 앵커들 충성도 점수매겨***점만점에 **점도,6,0.151515
2796,ynat-v1_train_02796,삼성 갤럭시** 정식 출시 첫 주말 이통시장 잠잠,2,0.074074
2797,ynat-v1_train_02797,텔레그램*한* 등**서 *시간*다운**버*정****종**보,4,0.468750
2798,ynat-v1_train_02798,인터뷰 류현진 친구에게 안타 맞는 것 싫어해*승부는 냉정,1,0.032258
2799,ynat-v1_train_02799,지능정보사회 대비 국가 종합대책 마련,4,0.000000

In [113]:
# sort by noise ratio
df.sort_values(by='noise_ratio', ascending=True, inplace=True)
df

,ID,text,target,noise_ratio
1452,ynat-v1_train_01452,베르나르 베르베르 방한 기자간담회,1,0.000000
780,ynat-v1_train_00780,이주열 통화정책 완화정도 추가 조정 필요,0,0.000000
2329,ynat-v1_train_02329,윤상현 오늘 아침 김무성 자택 찾아 사과했다속보,5,0.000000
1206,ynat-v1_train_01206,외교부 송민순 회고록 관련 언급할 사안없어,1,0.000000
1200,ynat-v1_train_01200,게시판 관광공사 대학생 안전여행 슬로건 공모전 개최,0,0.000000
...,...,...,...,...
2528,ynat-v1_train_02528,********** ***만명** *파****비**개시 *****만,5,0.729730
1612,ynat-v1_train_01612,*** *** ******한 *****솔***검증 **,4,0.733333
133,ynat-v1_train_00133,*씨* *년 *업* ************,5,0.739130
760,ynat-v1_train_00760,*병호*** ********* ***** 연*,1,0.760000
2105,ynat-v1_train_02105,*****홀*****년***요*서트****세********,0,0.812500

In [114]:
df_1 = df.iloc[:1120].copy()
df_2 = df.head(1120).copy()

(df_1.equals(df_2))

True

In [118]:
df_1

                       ID                           text  target  noise_ratio
1452  ynat-v1_train_01452             베르나르 베르베르 방한 기자간담회       1     0.000000
780   ynat-v1_train_00780         이주열 통화정책 완화정도 추가 조정 필요       0     0.000000
2329  ynat-v1_train_02329     윤상현 오늘 아침 김무성 자택 찾아 사과했다속보       5     0.000000
1206  ynat-v1_train_01206        외교부 송민순 회고록 관련 언급할 사안없어       1     0.000000
1200  ynat-v1_train_01200   게시판 관광공사 대학생 안전여행 슬로건 공모전 개최       0     0.000000
...                   ...                            ...     ...          ...
1649  ynat-v1_train_01649  베스트셀러 김난도 트렌드 코리아 **** *주째 *위       3     0.206897
2161  ynat-v1_train_02161  추억의 노키아폰 부활***유로 헐값***시간 통화종합       5     0.206897
534   ynat-v1_train_00534  국토* 공동주택 관리 *우수*지에*서울 텐*힐 *단지       5     0.206897
431   ynat-v1_train_00431  **** 프로야구 앱 출시 사흘 만에 **만 다운로드       3     0.206897
153   ynat-v1_train_00153       힐만 감독 산체스 *****일 불펜에서 대기       6     0.208333

[1120 rows x 4 columns]

In [119]:
df_2

                       ID                           text  target  noise_ratio
1452  ynat-v1_train_01452             베르나르 베르베르 방한 기자간담회       1     0.000000
780   ynat-v1_train_00780         이주열 통화정책 완화정도 추가 조정 필요       0     0.000000
2329  ynat-v1_train_02329     윤상현 오늘 아침 김무성 자택 찾아 사과했다속보       5     0.000000
1206  ynat-v1_train_01206        외교부 송민순 회고록 관련 언급할 사안없어       1     0.000000
1200  ynat-v1_train_01200   게시판 관광공사 대학생 안전여행 슬로건 공모전 개최       0     0.000000
...                   ...                            ...     ...          ...
1649  ynat-v1_train_01649  베스트셀러 김난도 트렌드 코리아 **** *주째 *위       3     0.206897
2161  ynat-v1_train_02161  추억의 노키아폰 부활***유로 헐값***시간 통화종합       5     0.206897
534   ynat-v1_train_00534  국토* 공동주택 관리 *우수*지에*서울 텐*힐 *단지       5     0.206897
431   ynat-v1_train_00431  **** 프로야구 앱 출시 사흘 만에 **만 다운로드       3     0.206897
153   ynat-v1_train_00153       힐만 감독 산체스 *****일 불펜에서 대기       6     0.208333

[1120 rows x 4 columns]

In [120]:
df_filtered = df.iloc[:1120].copy()
df_remaining = df.iloc[1120:].copy()
df_filtered.shape, df_remaining.shape, df.shape

((1120, 4), (1680, 4), (2800, 4))

In [121]:
# drop noise_ratio column
df_filtered.drop(columns=['noise_ratio'], inplace=True)
df_filtered

                       ID                           text  target
1452  ynat-v1_train_01452             베르나르 베르베르 방한 기자간담회       1
780   ynat-v1_train_00780         이주열 통화정책 완화정도 추가 조정 필요       0
2329  ynat-v1_train_02329     윤상현 오늘 아침 김무성 자택 찾아 사과했다속보       5
1206  ynat-v1_train_01206        외교부 송민순 회고록 관련 언급할 사안없어       1
1200  ynat-v1_train_01200   게시판 관광공사 대학생 안전여행 슬로건 공모전 개최       0
...                   ...                            ...     ...
1649  ynat-v1_train_01649  베스트셀러 김난도 트렌드 코리아 **** *주째 *위       3
2161  ynat-v1_train_02161  추억의 노키아폰 부활***유로 헐값***시간 통화종합       5
534   ynat-v1_train_00534  국토* 공동주택 관리 *우수*지에*서울 텐*힐 *단지       5
431   ynat-v1_train_00431  **** 프로야구 앱 출시 사흘 만에 **만 다운로드       3
153   ynat-v1_train_00153       힐만 감독 산체스 *****일 불펜에서 대기       6

[1120 rows x 3 columns]

In [91]:
df_filtered.head(5)

                       ID                          text  target  noise_ratio
1452  ynat-v1_train_01452            베르나르 베르베르 방한 기자간담회       1          0.0
780   ynat-v1_train_00780        이주열 통화정책 완화정도 추가 조정 필요       0          0.0
2329  ynat-v1_train_02329    윤상현 오늘 아침 김무성 자택 찾아 사과했다속보       5          0.0
1206  ynat-v1_train_01206       외교부 송민순 회고록 관련 언급할 사안없어       1          0.0
1200  ynat-v1_train_01200  게시판 관광공사 대학생 안전여행 슬로건 공모전 개최       0          0.0

In [92]:
df_filtered = df.head(1120).copy()
# df_filtered.sort_values(by='noise_ratio', ascending=True, inplace=True)
df_filtered.head(5)

                       ID                          text  target  noise_ratio
1452  ynat-v1_train_01452            베르나르 베르베르 방한 기자간담회       1          0.0
780   ynat-v1_train_00780        이주열 통화정책 완화정도 추가 조정 필요       0          0.0
2329  ynat-v1_train_02329    윤상현 오늘 아침 김무성 자택 찾아 사과했다속보       5          0.0
1206  ynat-v1_train_01206       외교부 송민순 회고록 관련 언급할 사안없어       1          0.0
1200  ynat-v1_train_01200  게시판 관광공사 대학생 안전여행 슬로건 공모전 개최       0          0.0

In [95]:
df_filtered2 = pd.read_csv('../data/preprocessed/mask2goldentruth.csv')
df_filtered2.head(5)

                    ID                             text  target  noise_ratio
0  ynat-v1_train_02520    잠금화면 플랫폼 버즈빌 인도 잠금화면앱 슬라이드 인수       6          0.0
1  ynat-v1_train_02276                이공대 내부 살펴보는 홍콩 경찰       3          0.0
2  ynat-v1_train_00519  서울 초등학생 새학기부터 구강검진 결과 스마트폰으로 확인       1          0.0
3  ynat-v1_train_02121         예멘 반군 사우디 석유시설 여전히 공격 목표       6          0.0
4  ynat-v1_train_02123         베스트셀러 소셜미디어 입소문 탄 에세이 인기       5          0.0