In [18]:
import os
import random
import numpy as np
import pandas as pd
from tqdm import tqdm

import torch
from torch.utils.data import Dataset

import evaluate
from transformers import AutoModelForSequenceClassification, AutoTokenizer
from transformers import DataCollatorWithPadding
from transformers import TrainingArguments, Trainer

from sklearn.model_selection import train_test_split

In [19]:
SEED = 456
random.seed(SEED)
np.random.seed(SEED)
torch.manual_seed(SEED)
torch.cuda.manual_seed(SEED)
torch.cuda.manual_seed_all(SEED)

In [20]:
DEVICE = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
DEVICE

device(type='cuda')

In [21]:
BASE_DIR = os.getcwd()
DATA_DIR = os.path.join(BASE_DIR, '../../data/preprocessed_v2/clear_augmentation_v2.csv') # processed된 파일까지 경로 
TEST_DIR = os.path.join(BASE_DIR, '../../data/raw/test.csv')
train_name = os.path.splitext(os.path.basename(DATA_DIR))[0]  # processed된 파일 이름 추출
OUTPUT_DIR = os.path.join(BASE_DIR, f'../../output/{train_name}') # 해당 파일 이름으로 output 폴더 생성

In [22]:
# mapping: 생활문화(0) , 스포츠(1) , 정치(2) , 사회(3) , IT과학(4) , 경제(5) , 세계(6)
data = pd.read_csv(DATA_DIR)

mapping = {
    0: '생활문화',
    1: '스포츠',
    2: '정치',
    3: '사회',
    4: 'IT과학',
    5: '경제',
    6: '세계'
}

data['topic'] = data['target'].map(mapping)
data

,ID,text,target,topic
0,ynat-v1_train_00000,정의구현사제단 시국미사 미사용기간 단기간에 종결될 수 있다,4,IT과학
1,ynat-v1_train_00002,"김정일, 자주, 통일, 새, 열, 나가야, 보수",2,정치
2,ynat-v1_train_00004,대통령 선거를 앞두고 정치권 비방 댓글 단에 대한 감시가 강화되고 있다.,6,세계
3,ynat-v1_train_00006,광주-기아챔피언스필드에서 열릴 예정이던 롯데-KIA 경기가 우천으로 취소됐다.,1,스포츠
4,ynat-v1_train_00007,아포짓 스파이커 알렉스와 레오나르도 가빈이 이끄는 한국전력 빅스톰이 우리캐피탈 위비...,4,IT과학
...,...,...,...,...
6049,augmentation,5 . 게임 산업의 괄목할 성장과 사회적 영향,4,IT과학
6050,augmentation,이제 특이하고 매적인 문화 뉴스 제 목 6개를 만들어볼 차례야,0,생활문화
6051,augmentation,1 . 축구 월드컵 예선 한 국 팀 선전 분석,1,스포츠
6052,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,1,스포츠
6053,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",1,스포츠

In [23]:
dataset_train, dataset_valid = train_test_split(data, test_size=0.2, random_state=SEED)

In [30]:
t = dataset_train
v = dataset_valid
v

                       ID                                 text  target topic
5621         augmentation                3 기후 변화, 북극곰 멸종 위기 심화       0  생활문화
5592         augmentation  답  서울 공유자전신 '띵동' 타자, 교통혁명은 이미 시작되었다       4  IT과학
2831         augmentation              5. 답 유명 유튜버, 저작권 침르로 논란       4  IT과학
3956         augmentation             5G 시대 도래, 초고속 무선 인터넷의 미래       4  IT과학
5417         augmentation              1'.  코로나 예방, 스마트 마스크 등장       4  IT과학
...                   ...                                  ...     ...   ...
5714         augmentation                BTS, 빌보드 차트 또다시 석권할 듯       0  생활문화
5020         augmentation      BTS, 그래미상 후보 지명...한국 음악 역사 새로 써       0  생활문화
1989  ynat-v1_train_02122        朴대통령 13일 북핵 담화·회견…경제법안 처리도 호소       2    정치
2883         augmentation                5 우주여행,  내년 일반인 탑승 시작       4  IT과학
2259  ynat-v1_train_02768    트럼프 또 런던시장에 악감정 표출 그는 재앙…새 시장 필요해       2    정치

[1211 rows x 4 columns]

In [28]:
data['topic'].value_counts()

topic
IT과학    1600
생활문화    1346
사회       908
경제       724
정치       551
스포츠      471
세계       454
Name: count, dtype: int64

In [31]:
t['topic'].value_counts()

topic
IT과학    1274
생활문화    1050
사회       738
경제       599
정치       431
세계       380
스포츠      371
Name: count, dtype: int64

In [29]:
v['topic'].value_counts()

topic
IT과학    326
생활문화    296
사회      170
경제      125
정치      120
스포츠     100
세계       74
Name: count, dtype: int64

In [32]:
c = pd.read_csv('../../data/preprocessed_v2/clear_augmentation_v2.csv')
c

,ID,text,target
0,ynat-v1_train_00000,정의구현사제단 시국미사 미사용기간 단기간에 종결될 수 있다,4
1,ynat-v1_train_00002,"김정일, 자주, 통일, 새, 열, 나가야, 보수",2
2,ynat-v1_train_00004,대통령 선거를 앞두고 정치권 비방 댓글 단에 대한 감시가 강화되고 있다.,6
3,ynat-v1_train_00006,광주-기아챔피언스필드에서 열릴 예정이던 롯데-KIA 경기가 우천으로 취소됐다.,1
4,ynat-v1_train_00007,아포짓 스파이커 알렉스와 레오나르도 가빈이 이끄는 한국전력 빅스톰이 우리캐피탈 위비...,4
...,...,...,...
6049,augmentation,5 . 게임 산업의 괄목할 성장과 사회적 영향,4
6050,augmentation,이제 특이하고 매적인 문화 뉴스 제 목 6개를 만들어볼 차례야,0
6051,augmentation,1 . 축구 월드컵 예선 한 국 팀 선전 분석,1
6052,augmentation,2 . 신흥 강호 로 부상 하고 있는 한국 배구 리그,1
6053,augmentation,"4 한국 남자 테니스, 세계 무 대 서 선 전 펼치다",1

In [34]:
c['topic'] = c['target'].map(mapping)
c['topic'].value_counts()

topic
IT과학    1600
생활문화    1346
사회       908
경제       724
정치       551
스포츠      471
세계       454
Name: count, dtype: int64

In [36]:
c[c['topic'] == 'IT과학'].head(50)

,ID,text,target,topic
0,ynat-v1_train_00000,정의구현사제단 시국미사 미사용기간 단기간에 종결될 수 있다,4,IT과학
4,ynat-v1_train_00007,아포짓 스파이커 알렉스와 레오나르도 가빈이 이끄는 한국전력 빅스톰이 우리캐피탈 위비...,4,IT과학
12,ynat-v1_train_00027,전자서명 인증서 유효기간이 지나면 대체불가토큰(NFT) 끝,4,IT과학
21,ynat-v1_train_00052,주간지 위클리 스탠더드가 한국에서 얼마나 벌까요?,4,IT과학
23,ynat-v1_train_00054,감사합니다. 즐거운 시간 보내셨기를 바랍니다. *개* 카메라와 함께 즐거운 추억을 ...,4,IT과학
41,ynat-v1_train_00097,종이로도 삼겹살* 중공대사증후군* 델타변이* 예방접종 가능,4,IT과학
46,ynat-v1_train_00110,식물의 광합성을 모방한 스크럼 공장이 개발되고 있다.,4,IT과학
48,ynat-v1_train_00115,김두겸 울산광역시장(최병렬 전 한나라당 대표 보좌관 출신),4,IT과학
59,ynat-v1_train_00138,"삼성이 빅스를 개발하는 데 걸린 시간은 약 12개월이며, 서울이 최초이자 최초다. ...",4,IT과학
70,ynat-v1_train_00180,삼성 갤럭시 *용 ** 테스트 고객 무제한 요금제 테스트그룹 무차별 공격(DDoS)...,4,IT과학
71,ynat-v1_train_00181,사물인터넷(IoT)과 인공지능(AI)을 결합한 '스마트홈'이 미래의 먹거리가 될 수...,4,IT과학
74,ynat-v1_train_00191,류현진의 발언으로 인해 LA다저스가 연속 우승에 대한 열망을 드러냈다는 추측이 나왔...,4,IT과학
90,ynat-v1_train_00241,모바일 보안 위협 **모바일 보안 로드 돌파,4,IT과학
96,ynat-v1_train_00256,아동용 교육 앱 핑크풋 투키의 새로운 버전이 출시됩니다.,4,IT과학
128,ynat-v1_train_00367,사람의 손 모양을 닮은 *의 손*이 *아*나무의 조*공,4,IT과학
135,ynat-v1_train_00391,"양자암호통신 네트워크 장애, 비밀번호와 회전주기 개발 중",4,IT과학
137,ynat-v1_train_00393,"원자력과 재처리, 나트늄 패스트와 전자 지속 큐서드의 차이점은 무엇인가요?",4,IT과학
154,ynat-v1_train_00452,"전라북도 최저 기온이 영하로 내려가는 추위가 찾아왔고, 눈도 내리고 있습니다.",4,IT과학
162,ynat-v1_train_00471,중소기업 ***에서 *양식으로 *연공 서열을 공개하는 것이 화두가 되고 있습니다. ...,4,IT과학
164,ynat-v1_train_00475,페이스북이 왜 '유알릴레오'에 출연하지 않는지에 대한 궁금증,4,IT과학
171,ynat-v1_train_00491,"월말 주식발행량 전월대비 증가, 기업공개(IPO)와 자본조달(M&A, 유상증자, 전...",4,IT과학
179,ynat-v1_train_00505,"갤럭시* 셀*시* 언팩 행사, 수천명 몰려 인산인해",4,IT과학
185,ynat-v1_train_00520,"컨텐트 짜임새 있는 제호에 통신업,언론,신문,출판,잡지,영화,연극,음악,무용,국악,...",4,IT과학
194,ynat-v1_train_00535,아마존의 짝퉁 천만 명에 천망신,4,IT과학
202,ynat-v1_train_00556,아프리카대륙 시장공략을 위해 엔터테인먼트와 손잡은 기업들,4,IT과학
205,ynat-v1_train_00561,물을 덮은 *태양계 최후의 행성*에도 *생명체 존재*능력은 있다,4,IT과학
207,ynat-v1_train_00565,'암' 또는 '품질' 개발 '닥터 마우스룸'으로 확장,4,IT과학
218,ynat-v1_train_00585,"구글이 어떤 방향으로 진화할지 예측하기는 어렵지만, 기술의 발전과 사용자의 요구에 ...",4,IT과학
231,ynat-v1_train_00615,"인도 티맥스인디아, 인공지능과 비즈니스 인사이트를 결합한 생활 혁신기업으로 변신",4,IT과학
246,ynat-v1_train_00646,시스템 반도체 *이전 * * 및 * 모니터,4,IT과학
258,ynat-v1_train_00678,콘텐츠는 상품이 될 수 없습니다. 콘텐츠의 가치는 창의성과 독창성에 있습니다.,4,IT과학
267,ynat-v1_train_00703,"구글 수뇌부가 세기의 대국을 앞두고 집결, 알파고 *** 자 ***",4,IT과학
279,ynat-v1_train_00726,"이미 판매된 '용중경' 노트북 대란,어떻게 해결해야 하나요?",4,IT과학
284,ynat-v1_train_00745,"서울시 표준단독주택 공시가격 전년 대비 19.17% 상승,고가주택 종합부동산세 대상...",4,IT과학
286,ynat-v1_train_00748,'유튜브 세대'는 하루 평균 유튜브 영상을 1~2시간 시청하는 세대를 뜻합니다.,4,IT과학
289,ynat-v1_train_00752,신망받는 단체들까지 나서서 올림픽 보이콧 움직임,4,IT과학
294,ynat-v1_train_00765,갤럭시* 급전 패키지 나다천 한정판매합*,4,IT과학
295,ynat-v1_train_00766,최고의 스마트 폰은 **타** ***음 애**위한 음향과 카메라를 위한 최고의 스마...,4,IT과학
299,ynat-v1_train_00781,국내 대학 최초로 윈도우 점수 최초 도입한 대학은 어디인가?,4,IT과학
322,ynat-v1_train_00836,"이동통신 요금제 이통사별 주식,자동차 등 다양한 혜택 제공",4,IT과학
331,ynat-v1_train_00850,*** *박스에 *칼럼 *갤럽 *폴드 *조롱하는 동전 상금,4,IT과학
333,ynat-v1_train_00853,음성인식 인공지능 스피커 '기가지니' 한층 더 작고 간편해져 출시,4,IT과학
338,ynat-v1_train_00864,"구글이나 페이스북이 중국 자본에 인수될 경우, 중국 공산당의 검열과 통제를 받게 될...",4,IT과학
344,ynat-v1_train_00875,채식주의자 수가 고기 소비를 줄이기 위해 *와 *챕터를 세우고 *를 세운다,4,IT과학
346,ynat-v1_train_00879,"한국에서 한국, 영어권 국가에서 개최",4,IT과학
347,ynat-v1_train_00883,구글 지메일 *버*글*버스*택시 앱 위챗 카오택시,4,IT과학
354,ynat-v1_train_00902,"호랑이 담배피던 시절이 아니다,원숭이도 안한다는 경연에서 이겨야 한다",4,IT과학
355,ynat-v1_train_00912,물 속에서도 사용할 수 있는 알약 형태의 알츠하이머 치료제가 개발되었다고 합니다. ...,4,IT과학
358,ynat-v1_train_00923,현재 전국에 약 300여개의 마을과 도시가 있습니다.,4,IT과학
367,ynat-v1_train_00957,"*** 텔레콤 싱가포르와 스포츠 마케팅 파트너쉽 체결,싱텔은 어떤 회사?",4,IT과학

In [38]:
# Lnoise_Augmentation_recover_4981_v1.csv
L_v1 = pd.read_csv('../../data/preprocessed_v2/Lnoise_Augmentation_recover_4981_v1.csv')
L_v2 = pd.read_csv('../../data/preprocessed_v2/Lnoise_Augmentation_recover_4981_v2.csv')

L_v1['topic'] = L_v1['target'].map(mapping)
L_v2['topic'] = L_v2['target'].map(mapping)

L_v1['topic'].value_counts()

topic
IT과학    1450
생활문화    1154
사회       776
경제       588
정치       378
스포츠      318
세계       317
Name: count, dtype: int64

In [39]:
L_v2['topic'].value_counts()

topic
IT과학    1453
생활문화    1194
사회       748
경제       590
정치       383
스포츠      317
세계       296
Name: count, dtype: int64